@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* hide background color added to code snippets by Makeup */
pre.highlight {
  background-color: transparent;
}
