<header class="px-4 sm:px-6 lg:px-8">
  <img class="mx-auto" src={~p"/images/logo-plot@2x.png"} width="400" />
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
